<h1>ADDRESS FORM:</h1>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
	<div class="row">
		 <form #userform="ngForm"  class="form-horizontal" (ngSubmit)="onsubmit()" novalidate>

            {{userform.value | json}}
            <fieldset>
               
                <div class="form-group">
                    <label>Full Name</label>
                        <input id="fullname" name="fullname" type="text" placeholder="full name"
                        class="form-control" [(ngModel)]="userdata.fullname" required>
                </div>
                
                <div class="form-group">
                    <label >Address</label>
                   
                        <input id="address" name="address" type="text" placeholder="address"
                        class="form-control" [(ngModel)]="userdata.address" required>
                    
                </div>
                
            
                
                <div class="form-group">
                    <label >City / Town</label>
                    
                        <input id="city" name="city" type="text" placeholder="city" 
                        class="form-control" [(ngModel)]="userdata.city" required>
                        
                    
                </div>
               
                <div class="form-group">
                    <label >State</label>
                    
                        <input id="region" name="state" type="text" placeholder="state"
                        class="form-control" [(ngModel)]="userdata.state" required>
                        
                </div>
                
                
                <div class="form-group">
                    <label >Postal Code</label>
                    
                        <input id="postal-code" name="postalcode" type="text" placeholder="postal code"
                        class="form-control" [(ngModel)]="userdata.postalcode" required>
                        
                </div>

                <div class="form-group">
                    <label>Country</label>
                    
                        <input id="country" name="country" type="text" placeholder="Country"
                        class="form-control" [(ngModel)]="userdata.country" required>
                    
                </div>
                
                
            </fieldset>
            <button color="primary" type="submit" (click)="filled()">submit form</button>
        </form>
        
	</div>
</div>